evidently
nltk
pandas
langchain-ollama
langchain
langchain-community
huggingface-hub
sentence-transformers
faiss-cpu
langchain-google-genai
black
web3
langgraph
langgraph-checkpoint-mongodb
fastapi
uvicorn
bcrypt
PyJWT == 2.10.1
resend
celery
bcrypt