evidently
nltk
pandas
langchain-ollama
langchain
langchain-community
langchain-text-splitters
huggingface-hub
sentence-transformers
faiss-cpu
langchain-google-genai
web3
langgraph
langgraph-checkpoint-mongodb
fastapi
uvicorn
bcrypt
PyJWT == 2.10.1
resend
celery
redis
bcrypt
langchain-groq
python-multipart
prometheus-client