name: practice-deploy
on:
  push:
    branches: [main]
permissions:
  contents: read
  id-token: write

env:
  IMAGE_TAG: ${{ github.sha }} # the commit SHA

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Pre-checkout
        id: checkout-practice
        uses: actions/checkout@v4
        
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{secrets.AWS_ARN_ROLE}}
          aws-region: us-east-1
          audience: sts.amazonaws.com
          
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        
      - name: Build images and push to ECR
        run: |
          docker build -t talktoai:${{ env.IMAGE_TAG }} -f agent.dockerfile .
          docker tag talktoai:${{ env.IMAGE_TAG }} ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/agent:${{ env.IMAGE_TAG }}
          docker tag talktoai:${{ env.IMAGE_TAG }} ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/agent:latest
          docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/agent:${{ env.IMAGE_TAG }}
          docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/agent:latest
          
      - name: SCP docker-compose config to bastion
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          source: "docker-compose.yml"
          target: "~/"
          overwrite: true
          
      - name: Deploy to renci server via bastion
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          script: |
            scp -o StrictHostKeyChecking=no -i /home/ubuntu/renci.pem ~/docker-compose.yml ubuntu@${{ secrets.RENCI_HOST }}:/home/ubuntu/rencie/
            ssh -o StrictHostKeyChecking=no -i /home/ubuntu/renci.pem ubuntu@${{ secrets.RENCI_HOST }} "\
              cd /home/ubuntu/rencie && \
              aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com && \
              docker compose down --remove-orphans || true && \
              docker rm -f \$(docker ps -aq) || true && \
              docker system prune -af || true && \
              docker compose pull && \
              docker compose up -d \
            "